.form-cartier {
  width: 100%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  background: whitesmoke;
  color: black;
}

.box-itens-from {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 35px;
  color: black;

  .p-float-label {
    width: 100%;
    padding: 0 10px;

    .p-inputnumber {
      width: 100%;
    }

    .p-dropdown {
      width: 100%;
    }

    .p-autocomplete {
      width: 100%;
    }

    input {
      width: 100%;
    }

    label {
      padding-left: 10px;
    }
  }
}

.box-alinha-item-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box-50-width {
  width: 50%;
}

.box-100-width {
  width: 100%;
}

.box-btn-form {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}