.MainBox {
  min-height: 100vh;
}

.bg-DarkMode-1 {
  background-color: #121212;
}

.bg-DarkMode-2 {
  background-color: #1F1F1F;
  color: white;
}

.container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.cor-titulo-branco {
  color: white;
}

.box-btn-salvar {
  margin-top: 30px;
}